@model HQ.Abstractions.Emails.EmployeeHoursEmail
@{
    Layout = "_LayoutEmailNotificationHTML";
}
<mj-text>
    <div><strong>Dates:</strong> @Model.PeriodBegin - @Model.PeriodEnd</div>
</mj-text>
<mj-table>
    <tr style="white;padding:15px 0;color:white;text-align:center;padding:15px 5px;">
        <td style="padding: 0 15px 0 0;font-weight:bold;border-bottom:1px solid white;">StaffName</td>
        <td style="padding: 0 15px;font-weight:bold;border-bottom:1px solid white;">Hours Last Week</td>
        <td style="padding: 0 15px;font-weight:bold;border-bottom:1px solid white;">Hours This Month</td>
        <td style="padding: 0 15px;font-weight:bold;border-bottom:1px solid white;">Hours Last Month</td>
    </tr>
    @foreach (var staff in Model.Staff)
    {
        @if (staff.LessThanExpectedHours || staff.MissingHours)
        {
            <tr style="color:white;background-color:red; text-align:center;">
                <td style="padding: 0 15px 0 0;">@staff.StaffName</td>
                <td style="padding: 0 15px;">@staff.HoursLastWeek</td>
                <td style="padding: 0 15px;">@staff.HoursThisMonth</td>
                <td style="padding: 0 15px;">@staff.HoursLastMonth</td>
            </tr>
        }
        else
        {
            <tr style="color:white; text-align:center;">
                <td style="padding: 0 15px 0 0;">@staff.StaffName</td>
                <td style="padding: 0 15px;">@staff.HoursLastWeek</td>
                <td style="padding: 0 15px;">@staff.HoursThisMonth</td>
                <td style="padding: 0 15px;">@staff.HoursLastMonth</td>
            </tr>
        }
    }
</mj-table>
<mj-text></mj-text>